/*-----------------------------
** Pricing Area Start
------------------------------*/

.pricing{
  padding: 110px 0px 120px;
  position: relative;
  .shape{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 500px;
    z-index: -9;
  }
  .round-shape3{
    position: absolute;
    top: 400px;
    right: 0px;
    z-index: -9;
    @include animate(shapeani1, 4.0s, ease-out, alternate, infinite);
  }
  .round-shape5{
    position: absolute;
    top: 280px;
    right: 110px;
    z-index: -9;
    @include animate(shapeani1, 4.5s, ease-out, alternate, infinite);
  }


  .pricing-tab{
    .tab-menu{
      display: block;
      text-align: center;
      #my-tab{
        display:inline-block;
        text-align: center;
        margin-bottom: 23px;
        .nav-item{
          display: inline-block;
          .nav-link{
            margin-bottom: 7px;
            margin-left: 5px;
            margin-right: 5px;
            list-style: none;
            display: inline-block;
            padding: 12px 30px;
            color: $descr-color;
            border-radius: 50px;
            cursor: pointer;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
            &.active,
            &:hover
            {
              color: $white;
              @include main-gradint1;
    
            }
          }
        }
      }
    }
  }
 
  .price-box{
    background: #fff;
    @include box-shadow(0px, 0px, 30px, rgba($dark-color, .08), $inset: false);
    text-align: center;
    padding: 22px 30px 30px;
    @include transition(.3s ease-out);
   
 
    .price-title{
      .heading-title{
         color: $dark-color;
         font-size:21px;
         font-weight: 600;
         line-height: 34px;
         margin-bottom: 0px;
      }
      .heading-sub-title{
        margin-bottom: 0px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
      }
    }
    .price-rate{
      color:  $dark-color;
      display: inline-block;
      width: 90px;
      height: 90px;
      text-align: center;
      border-radius: 3px;
      color: #fff;
      position: relative;
     margin: 39px 0px 29px;
      &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        @include main-gradint4;
        z-index: 2;
        transition: 1s;
      }
      &::before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        @include main-gradint1;
        transform: rotate(45deg);
        z-index: 1;
        transition: 1s;
      }
      .center-align-content{
        position: absolute;
        top: 50%;
        display: block;
        text-align: center;
        width: 100%;
        @include transform(translateY(-50%));
        z-index: 9;
      }
      .price{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 0px;
        font-weight: 700;
        color: $white;
      }
      .duration{
        color: $white;
        font-size: 14px;
        margin-bottom: 0px;
      }
    }
    .service-feature{
      .service-feature-list{
        margin-left: 0px;
        padding-left: 0px;
        list-style: none;
        li{
          p{
            margin-bottom: 0px;
            font-size: 16px;
            line-height: 38px;
          }
        }
      }
    }
    .buy-btn-wrapper{
      margin-top: 20px;
      display: block;
    }
    &:hover{
      @include box-shadow(0px, 15px, 40px, rgba($dark-color, .14), $inset: false);
      .price-rate{
        &::after{
          @include main-gradint1;
        }
        &::before{
          @include main-gradint4;
          transform: rotate(-45deg);
        }
      }
    }
  }
}



/*-----------------------------
** Pricing Area Start
------------------------------*/