/*---------------------------
** Index 6 Start
---------------------------*/
.index6 .overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.index6.index-color1 .hero-area .overlay {
  background-image: -moz-linear-gradient(55deg, #75b2f0 0%, #75f094);
  background-image: -webkit-linear-gradient(55deg, #75b2f0 0%, #75f094);
  background-image: -ms-linear-gradient(55deg, #75b2f0 0%, #75f094); }

.index6.index-color2 .hero-area .overlay {
  background: -webkit-linear-gradient(to bottom, #21ecff 0, #2cc6ff 99%);
  background: -moz-linear-gradient(to bottom, #21ecff 0, #2cc6ff 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #21ecff), color-stop(99%, #2cc6ff));
  background: -webkit-linear-gradient(top, #21ecff 0, #2cc6ff 99%);
  background: -o-linear-gradient(top, #21ecff 0, #2cc6ff 99%);
  background: linear-gradient(to bottom, #21ecff 0, #2cc6ff 99%); }

.index6.index-color3 .hero-area .overlay {
  background: -webkit-linear-gradient(to top, #19d0de 0, #18e7d3 100%);
  background: -moz-linear-gradient(to top, #19d0de 0, #18e7d3 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #19d0de), to(#18e7d3));
  background: -webkit-linear-gradient(bottom, #19d0de 0, #18e7d3 100%);
  background: -o-linear-gradient(bottom, #19d0de 0, #18e7d3 100%);
  background: linear-gradient(to top, #19d0de 0, #18e7d3 100%); }

.index6.index-color4 .hero-area .overlay {
  background-image: -webkit-linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  background-image: -moz-linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#ff758c), to(#ff7eb3));
  background-image: -webkit-linear-gradient(left, #ff758c 0%, #ff7eb3 100%);
  background-image: -o-linear-gradient(left, #ff758c 0%, #ff7eb3 100%);
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%); }

.index6.index-color5 .hero-area .overlay {
  background-image: -webkit-linear-gradient(to right, #fa709a 0%, #fee140 100%);
  background-image: -moz-linear-gradient(to right, #fa709a 0%, #fee140 100%);
  background-image: -ms-linear-gradient(to right, #fa709a 0%, #fee140 100%);
  background-image: -o-linear-gradient(to right, #fa709a 0%, #fee140 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
  background-image: -o-linear-gradient(left, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); }

.index6.index-color6 .hero-area .overlay {
  background-image: -webkit-linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  background-image: -moz-linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  background-image: -ms-linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0ba360), to(#3cba92));
  background-image: -webkit-linear-gradient(bottom, #0ba360 0%, #3cba92 100%);
  background-image: -o-linear-gradient(bottom, #0ba360 0%, #3cba92 100%);
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%); }

.index6.index-color7 .hero-area .overlay {
  background-image: -webkit-linear-gradient(to right, #0acffe 0%, #495aff 100%);
  background-image: -moz-linear-gradient(to right, #0acffe 0%, #495aff 100%);
  background-image: -ms-linear-gradient(to right, #0acffe 0%, #495aff 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#0acffe), to(#495aff));
  background-image: -webkit-linear-gradient(left, #0acffe 0%, #495aff 100%);
  background-image: -o-linear-gradient(left, #0acffe 0%, #495aff 100%);
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%); }

.index6.index-color8 .hero-area .overlay {
  background-image: -webkit-linear-gradient(to right, #fc4a1a, #f7b733);
  background-image: -moz-linear-gradient(to right, #fc4a1a, #f7b733);
  background-image: -o-linear-gradient(to right, #fc4a1a, #f7b733);
  background-image: -ms-linear-gradient(to right, #fc4a1a, #f7b733);
  background-image: -webkit-gradient(linear, left top, right top, from(#fc4a1a), to(#f7b733));
  background-image: -webkit-linear-gradient(left, #fc4a1a, #f7b733);
  background-image: -o-linear-gradient(left, #fc4a1a, #f7b733);
  background-image: linear-gradient(to right, #fc4a1a, #f7b733); }
