/*---------------------------
** Index 3 Area Start
---------------------------*/

.index3{

.video{
  .shape1{
    position: absolute;
    top: 0;
    left: 0;
  }
}
.counter-area{
  .shape2{
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.get-intuch,
.testimonial-area,
.pricing,
.faq
{
  .shape1{
    position: absolute;
    top: 0;
    left: 0;
  }
  .shape2{
    position: absolute;
    bottom: 0;
    left: 0;
  }
}


}